;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Mar  6 11:31:46 2018
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/home/ztf/Software/acf" "~/Software/acf/"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  nil
  "acf"
  'dired-mode
  nil
  11131
  '(11131 nil)
  t
  '("/home/ztf/Software/acf/")
  nil)

